
/* Accueil */
body{
background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.1)), url(../Image/fond-feuille.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

#carousel {
transition: opacity 0.6s ease;
}

p{
text-indent: 5%
}
.logo{
height: 8vh;
width: 8vh;
}

#navbar,#footer{
background-image: linear-gradient(to bottom, #91aea0, white);
}

.nav-item{
font-size: 20px;
margin: 0.6vh;
color: black;
font-family: "Sriracha", cursive;
transition: 0.6s ease;
}


.nav-item:hover {
font-weight: bold;
}

#fb, #insta{
margin: 0.6vh;
}

#logo-urbain, #logo-urbain2{
height: 50vh;
width: 50vh;
}

h1{
font-size: 35px;
color: #1e7e5d;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
margin-top: 1vh;
font-family: "Sriracha", cursive;
}

h2, h5 {
    font-size: 30px;
    color: #1e7e5d;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Sriracha", cursive;
}

#intro{
font-size: 20px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#def, #news{
font-size: 20px;
padding: 3vh;
background-color:rgba(20, 102, 49, 0.5);
box-shadow: 0 0 10px rgba(0, 0.5, 0.5, 1);
margin: 5vh;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
border-radius: 10% 0 10% 0;
}

#mini-especes-accueil{
padding: 10vh;
border: 2px solid #1e7e5d;
background-image: url(../Image/mini-especes-accueil.JPG);
background-size: cover;
background-repeat: no-repeat;
transition: box-shadow 0.5s ease;
}

#mini-conseil-accueil{
padding: 10vh;
border: 2px solid #1e7e5d;
background-image: url(../Image/mini-conseil-acceuil.JPG);
background-size: cover;
background-repeat: no-repeat;
transition: box-shadow 0.5s ease;
}

#mini-sortie-accueil {
padding: 10vh;
border: 0.3vh solid #1e7e5d;
 background-image: url(../Image/mini-sortie-accueil.JPG);
 background-size: cover;
 background-repeat: no-repeat;
transition: box-shadow 0.5s ease;
}

#mini-event-accueil {
padding: 10vh;
border: 2px solid #1e7e5d;
background-image: url(../Image/assoc.jpg);
background-size: cover;
background-repeat: no-repeat;
transition: box-shadow 0.5s ease;
}

.texte-mini{
text-decoration: none;
color: white;
font-size: 30px;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
font-family: "Sriracha", cursive;
}

#mini-nav{
margin: 10vh 0 20vh 0;
}

#mini-nav .col:hover{
box-shadow: 10px 5px 10px rgba(30, 126, 92, 0.6)
}

#mini-nav .col a:hover {
font-weight: 600;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

#abonner, #mentions, #plans, #contact{
text-decoration: none;
color: black;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#btn-abonner{
background-color: #7a946e;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#news{
margin: 10vh 0 30vh 0;
}

/* Page Contact */
#btn-envoi, #btn-news{
border: 0.3vh solid #1e7e5d; 
background-color: #91aea0;
transition: background-color 0.5s ease;
}

#btn-envoi:hover, #btn-news:hover{
background-color: #1e7e5d;
font-weight: bold;
}

#idees{
margin-left: 20vh;
width: 40%;
}

/* Page Article espèces */

#ban-milieu{
width: 100%;
height: 80%;
display: block;
}

.image-transition {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    /* Transition de 1 seconde avec un effet de fondu */
}

.image-transition.loaded {
    opacity: 1;
}
 

.miniature{
border-radius: 50%;
height: 15vh;
width: 15vh;
border: 0.2vh solid black;
box-shadow: 0 0 20px rgba(1, 1, 0, 0.5);
}

#article-mini{
padding: 2vh;
border: 0.3vh solid #7a946e;
transition: background-color 0.5s ease;
}

#article-mini:hover{
border: 0.4vh solid #64795A;
background-color: #c7ccc8;
}

.btn-article{
background-color: #7a946e;
color: black;
}

#suite{
padding: 1vh 1vh;
border: 0.2vh solid #abd398;
background-color: #7a946e;
color: black;
transition:  background-color, border, font-weight 0.3s ease;
}

#suite:hover{
border: 0.3vh solid #abd398;
background-color: #cadfc0;
font-weight: 600;
}

.page{
text-decoration: none;
color: black;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 20px;
margin-left: 0.3vh;
}

.page:hover{
color: #64795A;
font-weight: 400;
}

#navbar-article{
background-image: linear-gradient(to bottom, #c7ccc8, white);
}

#titre-page-espece{
font-size: 30px;
color: black;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
font-family: "Sriracha", cursive;
}

/* Page article détaillée */
#ban-article {
width: 100%;
height: 70vh;    
}

#titre-article-milieu{
position: absolute;
top: 95%;
right: 0%;
 transform: translateY(-50%);
text-shadow: 5px 2px 6px rgba(0, 0, 0, 1);
color: white;
padding: 1vh;
font-size: 35px;
border-radius: 10% 0 10% 0;
}


#titre-article2, #titre-article {
    position: relative;
}

#titre-article2::before, #titre-article::before,
#titre-article2::after, #titre-article::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 30%;
    /* Ajustez la largeur selon vos besoins */
    height: 3px;
    /* Ajustez l'épaisseur selon vos besoins */
    background-color: #1e7e5d;
    /* Couleur des lignes */
}

#titre-article2::before, #titre-article::before {
    left: -50px;
    /* Ajustez la position de la ligne de gauche */
}

#titre-article2::after, #titre-article::after {
    right: -50px;
    /* Ajustez la position de la ligne de droite */
}


#identification{
border: 0.3vh solid #64795A;
background-image: url(../Image/foret-fond.jpg),linear-gradient(to top, rgba(255, 255, 255, 0.5), white);
background-blend-mode: overlay;
background-size: cover;
background-repeat: no-repeat;
padding: 3vh;
}

#identification2 {
    border: 0.3vh solid #64795A;
    background-image: url(../Image/fond-ortie.jpg), linear-gradient(to top, rgba(255, 255, 255, 0.35), white);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3vh;
}
#chant-photo{
width: 30vh;
height: 30vh;
border: 0.2vh solid black;
box-shadow: 0 0 20px rgba(1, 1, 0, 0.5);
transition: border 0.2s ease;
}

#mini-photo {
    width: 30vh;
    height: 30vh;
    border: 0.2vh solid black;
    box-shadow: 0 0 20px rgba(1, 1, 0, 0.5);
    transition: border 0.2s ease;
}

#chant-photo:hover {
 border: 0.4vh solid black;
}

.illu {
height: 100%;
width: 95%;
border: 0.2vh solid #64795A;
border-radius: 25% 0 25% 0;
box-shadow: 5px 5px 20px 5px rgba(0, 0, 0.6, 0.6);
}

#illu2{
border: 0.2vh solid #64795A;
border-radius: 0 25% 0 25%;
box-shadow: 5px 5px 20px 5px rgba(0, 0, 0.6, 0.6);
margin: 10vh 0 0 20vh;
height: 58vh;
}

.illu-perruche{
width: 40vw;
height: 50vh;
border: 0.2vh solid #64795A;
border-radius: 25% 0 25% 0;
box-shadow: 5px 5px 20px 5px rgba(0, 0, 0.6, 0.6);
}

#questions, #reponses {
padding: 3vh;
border: 0.2vh solid #64795A;
background-color: #c7ccc8;
}

#table-protection{
width: 82vh;
height: 90%;
}

h6{
font-size: 30px;
color: #1e7e5d;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
font-family: "Sriracha", cursive;
}

#source{
background-image: linear-gradient(to bottom, #c7ccc8, white);
margin-top: 10vh;
}

/* Article réserve naturelle */
#description-milieu{
background-color:rgba(20, 102, 49, 0.3); 
padding: 2vh;
border-radius: 30% 10% 30% 10%;
box-shadow: 5px 5px 20px 5px rgba(0, 0, 0.6, 0.6);
}

#localisation{
background-color: rgba(20, 102, 49, 0.3);
padding: 2vh;
box-shadow: 5px 5px 20px 5px rgba(0, 0, 0.6, 0.6);
}

#sentier{
width: 630px;
height: 350px;
transition: transform 2s;
}

.zoom{
transform: scale(2) translate(-25%, 0%);
position:absolute;
}